
.mat-sort-header-container {
    align-items: center;
}

.parrafoInicial {
    font-size: 18px;
    color: blue;
}

/*
.titulosTabla {
    font-size: 20px;
    color: black;
    text-decoration: underline;
    text-decoration-color: blue;
}
*/