<h3>Página de filtros</h3>
<p class="parrafoInicial">Pincha en el título para clasificar u organizar (Se ordenan todos los campos, por nombre o por nº) </p>
<p>[Tienen orden ascendente, descendente y sin filtro].</p>

<table matSort (matSortChange)="ordenarDatos($event)">
    <tr class="titulosTabla">
        <th mat-sort-header="name" class="recuadroTabla">Dessert (100g)</th>
        <th mat-sort-header="calories" class="recuadroTabla">Calories</th>
        <th mat-sort-header="fat" class="recuadroTabla">Fat (g)</th>
        <th mat-sort-header="carbs" class="recuadroTabla">Carbs (g)</th>
        <th mat-sort-header="protein" class="recuadroTabla">Protein (g)</th>
    </tr>

    <!-- Datos de la tabla -->
    @for (dessert of datosOrdenados; track dessert) {
    <tr>
        <td>{{dessert.name}}</td>
        <td>{{dessert.calories}}</td>
        <td>{{dessert.fat}}</td>
        <td>{{dessert.carbs}}</td>
        <td>{{dessert.protein}}</td>
    </tr>
    }
</table>